{% extends "base.html" %}

{% block content %}

<h1>🛡️ VulnScope Dashboard</h1>

<hr>

<div class="cards">

    <div class="card">
        <h2>Total Scans</h2>
        <h1>0</h1>
    </div>

    <div class="card">
        <h2>Vulnerabilities</h2>
        <h1>0</h1>
    </div>

    <div class="card">
        <h2>Reports</h2>
        <h1>0</h1>
    </div>

</div>

<hr>

<h2>Quick Actions</h2>

<a href="/scan">
    <button>
        Start Scan
    </button>
</a>

<hr>

<h2>Recent Activity</h2>

<p>No scans performed yet.</p>

{% endblock %}