{% extends "base.html" %}

{% block content %}

<h1>Port Scanner</h1>

<form method="POST">

    <input
        type="text"
        name="target"
        placeholder="Enter IP or Domain"
        required>

    <button type="submit">

        Scan

    </button>

</form>

<hr>

{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}

{% if results is not none %}

<h2>Results for {{ target }}</h2>

{% if results %}

<table>

<tr>

<th>Port</th>

<th>Service</th>

</tr>

{% for port in results %}

<tr>

<td>{{ port.port }}</td>

<td>{{ port.service }}</td>

</tr>

{% endfor %}

</table>

{% else %}

<p>No open ports found.</p>

{% endif %}

{% endif %}

{% endblock %}